<h1><%= @student.name_first%> <%= @student.name_last %></h1>

<h3>Current Lesson</h3>
Lesson <%= @student.current_lesson %> Part <%= @student.current_part %>

<%= form_for(@mark = Mark.new) do |f| %>
<p><%= f.label :mark %> <%= f.text_field :mark %></p>
<%= f.hidden_field :student_id, :value => @student.id %>
<%= f.hidden_field :lesson_id, :value => @student.current_lesson %>
<%= f.hidden_field :part, :value => @student.current_part %>
<%= f.submit %>
<% end %>


<h3>Lessons Completed</h3>
<% if @student.marks.exists? %>
<ul>
  <% @student.marks.each do |mark| %>
    <li>Lesson: <%= mark.lesson_id %> Part: <%= mark.part %> Mark: <%= mark.mark %>
  <% end %>
</ul>
<% else %>
<p>No lessons completed yet.</p>
<% end %>
